*{

    padding: 0;
    margin:0;
    font-family: 'Anonymous Pro';
    user-select: none;
    
}

.container {
    align-items: center;
    background: #dd8d77;
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}


.contentTop{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.contentBottom{

    flex: 4;
    display:flex;

}
