.container {
    align-items: center;
    background: #dd8d77;
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.container img {
    width: 16em;
    transition: width 0.1s;
}

.container img:hover {
    width: 18em;
}

.container img:active {
    width: 16em;
}
