*{

    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.container {
    align-items: center;
    background: #dd8d77;
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.header{

    flex: 0.5;
}

.content{

    flex: 9.5;
}
